<body>
  <link rel="stylesheet" href="/static/css/header.css">
  <script src="/static/js/header.js" defer></script>
    <!-- nav 태그는 임시로 넣어두었습니다. 지우셔도 되고. 꼭 id="gnb" 만 넣어주세요 
        스킵네비게이션 위치 이동을 위한 id 입니다 
    -->
    <nav id="gnb">
      <div class="navbar_logo">
        <a href="/templates/main.html"><img src="/static/img/logo_h_200.png" id="logo_img"></a>
      </div>
      
      <ul class="navbar_menu">
        <li><a href="#"><img class="menu_img" src="/static/img/menu_search_cocktail_h_240.png"></a></li>
        <li><a href="#"><img class="menu_img" src="/static/img/menu_offer_h_240.png"></a></li>
        <li><a href="#"><img class="menu_img" src="/static/img/menu_search_bar_h_240.png"></a></li>
      </ul>

      <a href="#" class="navbar_toggleBtn">
        <img src="/static/img/navbar_togglebtn_h240.png" id="logo_img">
      </a>
    </nav>
</body>


