body {
  height: 100vh;
  padding-bottom:88px; /* FOOTER 높이 */
  background-image: url("/static/img/main_background_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: calc(0.75em + 1vw);
}

#main_view {
  padding-top: 200px;
  margin: auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50vw;
  padding-left: 20px;
  max-height: auto;
  animation: blink-effect 8s step-end infinite;
}

.logo_back {
  width: 50vw;
  padding-left: 20px;
  max-height: auto;
  position: absolute;
}

@keyframes blink-effect { 
  0% {
    opacity: 100%;
  }

  2% {
    opacity: 0%;
  }

  4% {
    opacity: 100%;
  }

  6% {
    opacity: 0%;
  }

  8% {
    opacity: 100%;
  }

  10% {
    opacity: 0%;
  }

  12% {
    opacity: 100%;
  }

  14% {
    opacity: 0%;
  }

  22% {
    opacity: 100%;
  }
}

